* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  /* text-align: center; */
  /* width: 100vw;
  height: 80vh; */
  display: flex;
  flex-direction: column;
}

.team-row {
  margin: 10px auto;
}

canvas {
  border: 1px solid black;
}
